<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="row" style="width: 100%;">
            <div class="col-sm-3">
                <a class="navbar-brand" href="#"><img src="https://static.cure.fit/assets/images/curefit-v-man.svg" alt="logo" class="logo" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-sm-6">
                <div class="row">
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav me-auto cure-fit-domains clearfix">
                        <li class="nav-item col-sm-2 header-items">
                            <a class="nav-link non-clp-header" href="#">
                                <img alt="live" src="https://static.cure.fit/assets/images/Livefit.svg" style="height: 25px;" class="header-icon">
                                <div class="header-text">
                                    <p class="header-title">LIVE</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-sm-2 header-items">
                            <a class="nav-link non-clp-header" href="#">
                                <img alt="live" src="https://static.cure.fit/assets/images/cult-icon.svg" style="height: 25px;" class="header-icon">
                                <div class="header-text">
                                    <p class="header-title">CULT</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-sm-2 header-items">
                            <a class="nav-link non-clp-header" href="#">
                                <img alt="live" src="https://static.cure.fit/assets/images/mind-icon.svg" style="height: 25px;" class="header-icon">
                                <div class="header-text">
                                    <p class="header-title">MIND</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-sm-2 header-items">
                            <a class="nav-link non-clp-header" href="#">
                                <img alt="live" src="https://static.cure.fit/assets/images/carefit-blk.svg" style="height: 25px;" class="header-icon">
                                <div class="header-text">
                                    <p class="header-title">CARE</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-sm-2 header-items">
                            <a class="nav-link non-clp-header" href="#">
                                <img alt="live" src="https://static.cure.fit/assets/images/store-icon.svg" style="height: 25px;" class="header-icon">
                                <div class="header-text">
                                    <p class="header-title">STORE</p>
                                </div>
                            </a>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li> -->
                        </ul>
                    </div>
                </div>
                <!-- <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </div>
</nav>