.firstRow
    font-size: 50px

.introvideo video 
    border-radius: 10px

.secoundRow 
    font-size: 18px
    color: #6e6d6d
    margin-top: 5%
    margin-bottom: 10%
    width: 95%
    line-height: 40px

.content1 > .row 
    padding-top: 50px
    padding-bottom: 40px

.live-secoundRow
    font-size: 18px
    color: #6e6d6d
    line-height: 40px

.css-1h2gxvj-exploreBtn
    text-decoration: none
    color: #000
    float: right

img.css-2o0220-arrowImg 
    transform: rotate(180deg)
    height: 22px
    width: 10px
    margin-left: 10px
    margin-bottom: 4px

.live-thirdrow
    font-size: 14px
    color: #6e6d6d

    /*Accortion Design*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One')
@import url('https://fonts.googleapis.com/css?family=Exo+2')
html 
    height: 100vh

body 
    padding: 0
    margin: 0
    font-family: 'Fjalla One', sans-serif
    background: linear-gradient( #fff, #fefefe, #eaeaea)

.accordion 
    background: rgba(0, 0, 0, 0.10)
    height: 300px
    margin: 20px auto
    display: flex
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47)
    flex-direction: row
    cursor: pointer
    margin-bottom: 100px

.box 
    position: relative
    height: 100%
    flex: 1
    background-position: left
    background-size: cover
    transition: .7s
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47)

.box:hover
    flex: 3
    height: 400px

.a1 
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png")

.a2 
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/f66c717a-bcb9-4d64-b227-115d1010b610.jpeg")

.a3 
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/aedcb538-777e-4564-b422-30eb8dc220d2.png")
    color: #fff
p 
    font-weight: normal
    font-family: 'Exo 2', sans-serif

.text 
    position: absolute
    bottom: 0
    opacity: 0
    padding: 8px
    color: white

.box:hover .text
    opacity:1

h1 
    width: 250px
    text-align: center
    margin: 100px auto 20px auto

@media screen and (max-width: 800px)
    body
        margin: 0
    .accordion 
        flex-direction: column
        height: 700px
        box-shadow: none
    .box 
        box-shadow: none
    .box:hover 
        flex: 7
    
