
<div class="container">
    <div class="content1">
        <div class="row">
            <div class="title col-5">
                <div class="firstRow">
                    <strong>For the fun</strong><br>
                    <strong>of fit</strong> 
                </div>
                <div class="secoundRow">
                    <strong> At cult.fit, we strive to keep you fit & healthy through a range of holistic offerings that include fitness and yoga, healthy meals, mental wellbeing and primary care. Now anyone can now stay healthy from the safety of their homes with just a single app that helps you to #BeBetterEveryDay
                    </strong>
                </div>
            </div>
            <div class="introvideo col-7">
                <video autoplay width="100%" loop muted>
                    <source src="https://cdn-images.cure.fit/www-curefit-com/video/upload/w_800,q_auto:eco/vc_auto/video/vm/32b91e40-0e2c-477b-a2ad-88d437d0f07f.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="row">
            <div class="col-12 firstRow">
                <strong>live</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-12 live-secoundRow">
                <strong>At-home health & fitness made easy</strong>
                <a href="/live" class="css-1h2gxvj-exploreBtn">
                    <span><strong>Explore</strong></span>
                    <img src="https://static.cure.fit/assets/images/back-arrow-pink.svg" alt="Go back" class="css-2o0220-arrowImg">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-8 live-thirdrow">
                Get fit and stay healthy from the comfort of your home with live workouts
            </div>
        </div>
        <div>
            <div class="accordion">
                <!-- BOX 1 -->
                <div class="box a1">
                    <div class="image_1">
                        <div class="text">
                            <h2>Find a cult center near you</h2>
                            <p>
                                Work out at our world class cult centers with the safest measures. 
                                From ample workout space to ensure social distancing to frequent sanitisation, cult is playing it safe so you don't have to. 
                            </p>
                        </div>
                    </div>
                </div>
        
                <!-- BOX 2 -->
                <div class="box a2">
                    <div class="image_2">
                        <div class="text">
                            <h2>Introducing Gyms by cult</h2>
                            <p>
                                Get unlimited access to the best gyms in town with a cultpass. 
                                Carefully handpicked by cult, these select gyms boast of cult certified trainers, 
                                best-in-class safety and equipment standards. 
                            </p>
                        </div>
                    </div>
                </div>
        
                <!-- BOX 3 -->
                <div class="box a3">
                    <div class="image_3">
                        <div class="text">
                            <h2>Online PT</h2>
                            <p>
                                Personalised workout sessions with the best of cult trainers to help you achieve your 
                                fitness goals from the comfort of home.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
            
        </div>

    </div>
</div>
