
<div class="container">
    <div class="content1">
        <div class="row">
            <div class="title col-5">
                <div class="firstRow">
                    <strong>For the fun</strong><br>
                    <strong>of fit</strong> 
                </div>
                <div class="secoundRow">
                    <strong> At cult.fit, we strive to keep you fit & healthy through a range of holistic offerings that include fitness and yoga, healthy meals, mental wellbeing and primary care. Now anyone can now stay healthy from the safety of their homes with just a single app that helps you to #BeBetterEveryDay
                    </strong>
                </div>
            </div>
            <div class="introvideo col-7">
                <video autoplay="" width="100%" loop="" muted="">
                    <source src="https://cdn-images.cure.fit/www-curefit-com/video/upload/w_800,q_auto:eco/vc_auto/video/vm/32b91e40-0e2c-477b-a2ad-88d437d0f07f.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        

    </div>
</div>
